<div class="section section153    "
     style="background-color:#ffffff; background-image:url(/assets/img/1920x0/e38838a0d4704accf3f5607b6bee7a25.jpg);"
     data-id="519614" id="b_519614"><a name="a_519614"></a>

  <div class="dark"></div>
  <div class="noise" style="background-image:url(/assets/img/null.png);"></div>
  <div class="section_inner  ">
    <div class="layer">
      <div class="title  ">
        <div><br></div>
        Лучшая мебель по индивидуальным проектам
      </div>
      <div class="sub_title  ">Весенняя распродажа! Скидка 20% на всю мебель.&nbsp;<div>Спешите,
        количество товаров ограничено!
      </div>
      </div>

      <div class="btn1  " style="color:#FFFFFF;  border-radius: 0.5em;   box-shadow: 0; ">Оставить заявку
      </div>
      <div class="btn_descr">По любым возникшим вопросам вы можете проконсультироваться по телефону
        +7(800)333-22-33 или по электронной почте info@tobiz.net<br></div>
    </div>

    <div class="popup_form">
      <div class="popup_form_inner">
        <div class="popup_form_close">X</div>
        <div class="popup_form_title">Оставить заявку</div>
        <form action="handler.php" enctype="multipart/form-data" method="post">
          <div class="form1"><input type="hidden" name="Название формы" value="">
            <div class="field">
              <div class="field_title">Введите имя</div>
              <div class="field_description"></div>
              <div class="field_input"><input type="text" required="required" name="Введите имя"
                                              placeholder="Введите имя"></div>
            </div>
            <div class="field">
              <div class="field_title">Введите E-mail</div>
              <div class="field_description"></div>
              <div class="field_input"><input type="text" required="required" name="Введите E-mail"
                                              placeholder="Введите E-mail"></div>
            </div>
            <div class="field">
              <div class="field_title">Введите номер телефона</div>
              <div class="field_description"></div>
              <div class="field_input"><input type="text" required="required"
                                              name="Введите номер телефона"
                                              placeholder="Введите номер телефона"></div>
            </div>
            <div class="field">
              <div class="field_input"><input type="submit" class="submit_btn surround"
                                              data-action="thanks" data-url="" data-amount="0"
                                              value="Заказать"
                                              style="background-color:#009999;    border-radius: 0.5em; ;  box-shadow: 0; ">
              </div>
            </div>
          </div>
        </form>
        <div class="popup_form_text"> Нажимая на кнопку, Вы принимаете <a target="_blank"
                                                                          data-cke-saved-href="/?personal_data=1"
                                                                          href="/?personal_data=1">Положение</a>
          и <a target="_blank" data-cke-saved-href="/?personal_data=2"
               href="/?personal_data=2">Согласие</a> на обработку персональных данных. <br></div>
      </div>
    </div>


    <div class="popup_thanks">
      <div class="popup_thanks_inner">
        <div class="popup_thanks_close">X</div>
        <div class="popup_thanks_title">Спасибо за заявку!</div>
        <div class="popup_thanks_text">Заявка отправлена. Наш менеджер свяжется с Вами в ближайшее время.
        </div>
      </div>
    </div>

  </div>
</div>